@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* antialiasing mode font rendering */
/* mixin defined */
/* Responsive design */
/* variables defined */
/*
 *  1. Primary Style
 *  2. Intro
 *  3. AboutMe
 *  4. Skill
 *  5. Projects
 *  6. Contact Me
 */
/* ---------------------------

Primary style

------------------------------*/
/* line 70, ../sass/style.scss */
*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 78, ../sass/style.scss */
body {
  font-size: 1.6rem;
  font-family: "Bitter", serif;
}

@media only screen and (min-width: 1170px) {
  /* line 86, ../sass/style.scss */
  body, html {
    overflow-x: hidden;
  }
}
/*****************************

Nodding img

******************************/
/* line 97, ../sass/style.scss */
#nodding {
  width: 200px;
  position: absolute;
  left: 100px;
  top: -150px;
  z-index: 99;
  border-radius: 50%;
}
/* line 105, ../sass/style.scss */
#nodding.noshowpic {
  -moz-animation: slideUp 1s ease-out;
  -webkit-animation: slideUp 1s ease-out;
  animation: slideUp 1s ease-out;
}
/* line 110, ../sass/style.scss */
#nodding.showpic {
  -moz-animation: slideDown 1s ease-in forwards;
  -webkit-animation: slideDown 1s ease-in forwards;
  animation: slideDown 1s ease-in forwards;
}

@-moz-keyframes slideDown {
  0% {
    top: -150px;
  }
  65% {
    top: 50px;
  }
  75% {
    top: 25px;
  }
  85% {
    top: 50px;
  }
  95% {
    top: 35px;
  }
  100% {
    top: 50px;
  }
}
@-webkit-keyframes slideDown {
  0% {
    top: -150px;
  }
  65% {
    top: 50px;
  }
  75% {
    top: 25px;
  }
  85% {
    top: 50px;
  }
  95% {
    top: 35px;
  }
  100% {
    top: 50px;
  }
}
@keyframes slideDown {
  0% {
    top: -150px;
  }
  65% {
    top: 50px;
  }
  75% {
    top: 25px;
  }
  85% {
    top: 50px;
  }
  95% {
    top: 35px;
  }
  100% {
    top: 50px;
  }
}
@-moz-keyframes slideUp {
  0% {
    top: 50px;
  }
  50% {
    top: 100px;
  }
  60% {
    top: 100px;
  }
  100% {
    top: -150px;
  }
}
@-webkit-keyframes slideUp {
  0% {
    top: 50px;
  }
  50% {
    top: 100px;
  }
  60% {
    top: 100px;
  }
  100% {
    top: -150px;
  }
}
@keyframes slideUp {
  0% {
    top: 50px;
  }
  50% {
    top: 100px;
  }
  60% {
    top: 100px;
  }
  100% {
    top: -150px;
  }
}
/*****************************

AboutMe section

******************************/
/* line 165, ../sass/style.scss */
.aboutMe-container {
  position: relative;
  width: 75%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
}
/* line 176, ../sass/style.scss */
.aboutMe-container .info-pane h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
}
/* line 183, ../sass/style.scss */
.aboutMe-container .info-pane ul {
  max-width: 500px;
  margin-top: 70px;
}
/* line 188, ../sass/style.scss */
.aboutMe-container .info-pane ul li {
  list-style: none;
  margin-top: 15px;
  padding: 10 5px;
}
/* line 193, ../sass/style.scss */
.aboutMe-container .info-pane ul li .fa-map-marker {
  margin-left: 5px;
  margin-right: 6px;
}
/* line 197, ../sass/style.scss */
.aboutMe-container .info-pane ul li .fa-search {
  margin-left: 2px;
  margin-right: 3px;
}
/* line 201, ../sass/style.scss */
.aboutMe-container .info-pane ul li span {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
}
@media only screen and (min-width: 1170px) {
  /* line 212, ../sass/style.scss */
  .aboutMe-container .info-pane {
    position: absolute;
    top: 45%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 250px;
  }
  /* line 219, ../sass/style.scss */
  .aboutMe-container .info-pane h1 {
    font-size: 8rem;
  }
  /* line 226, ../sass/style.scss */
  .aboutMe-container .info-pane ul li .fa, .aboutMe-container .info-pane ul li span {
    font-size: 2.2rem;
  }
  /* line 229, ../sass/style.scss */
  .aboutMe-container .info-pane ul li .fa-map-marker {
    margin-right: 12px;
  }
  /* line 232, ../sass/style.scss */
  .aboutMe-container .info-pane ul li .fa-search {
    margin-right: 7px;
  }
}
/* line 241, ../sass/style.scss */
.aboutMe-container .timeline-pane {
  position: relative;
}
@media only screen and (min-width: 1170px) {
  /* line 241, ../sass/style.scss */
  .aboutMe-container .timeline-pane {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 500px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 251, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline {
  position: relative;
  padding-left: 30px;
  border-left: 8px solid white;
}
/* line 255, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline li {
  position: relative;
  margin: 40px 0;
}
/* line 259, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline p {
  margin: 40px 20px 10px 20px;
}
/* line 262, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .date {
  position: absolute;
  left: -145px;
  font-size: 1.5rem;
  line-height: 25px;
  top: 50%;
  margin-top: -10px;
  font-family: "PT Sans", sans-serif;
}
/* line 272, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .circle {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #EAAB28;
  border: 5px solid white;
  border-radius: 50%;
  top: 50%;
  margin-top: -10px;
  left: -44px;
}
/* line 284, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .content {
  position: relative;
  max-height: 40px;
  border: 2px solid transparent;
  border-radius: 0.8rem;
}
/* line 290, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .content::before, .aboutMe-container .timeline-pane #timeline .content::after {
  content: '';
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
/* line 299, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .content::before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
/* line 307, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .content::after {
  border-right-color: #EAAB28;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
/* line 314, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .content p {
  color: transparent;
  text-align: justify;
  hyphens: auto;
  overflow: hidden;
}
/* line 322, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline label {
  position: absolute;
  z-index: 10;
  font-size: 2.2rem;
  cursor: pointer;
  top: 10px;
  font-family: "PT Sans", sans-serif;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 333, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .radio {
  display: none;
}
/* line 338, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .radio:checked + .relative label {
  cursor: auto;
  -moz-transform: translateX(42px);
  -ms-transform: translateX(42px);
  -webkit-transform: translateX(42px);
  transform: translateX(42px);
}
/* line 342, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .radio:checked + .relative .circle {
  background: red;
}
/* line 346, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .radio:checked ~ .content {
  max-height: 300px;
  border-color: black;
  margin-right: 20px;
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -moz-transition: max-height 0.4s linear;
  -o-transition: max-height 0.4s linear;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}
/* line 354, ../sass/style.scss */
.aboutMe-container .timeline-pane #timeline .radio:checked ~ .content p {
  max-height: 200px;
  color: #4d4d4d;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

/*****************************

Skill section

******************************/
/* line 376, ../sass/style.scss */
.skill-container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 100px;
  heigth: 100%;
}
/* line 384, ../sass/style.scss */
.skill-container h1 {
  font-size: 8rem;
  text-align: center;
  color: white;
}
/* line 391, ../sass/style.scss */
.skill-container .skill-column {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  vertical-align: top;
}
/* line 401, ../sass/style.scss */
.skill-container h2 {
  display: inline-block;
  width: 60%;
  font-size: 4rem;
  color: #656E79;
  background: #E9F0F5;
  border-radius: 5px;
  padding: 10px 0;
  font-family: "PT Sans", sans-serif;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 411, ../sass/style.scss */
.skill-container h2:hover {
  color: white;
  background: #990000;
}
/* line 417, ../sass/style.scss */
.skill-container p {
  font-family: "PT Sans", sans-serif;
  padding: 50px 0;
  font-size: 3rem;
  opacity: 1;
}
/* line 424, ../sass/style.scss */
.skill-container .skill-list {
  display: none;
}
@media only screen and (min-width: 1170px) {
  /* line 428, ../sass/style.scss */
  .skill-container .skill-column {
    width: 33%;
    margin-top: 5%;
    height: 500px;
  }
  /* line 433, ../sass/style.scss */
  .skill-container h2 {
    width: 90%;
  }
  /* line 436, ../sass/style.scss */
  .skill-container p {
    margin-top: 50px;
  }
  /* line 440, ../sass/style.scss */
  .skill-container .skill-list {
    display: block;
  }
  /* line 443, ../sass/style.scss */
  .skill-container .skill-list ul {
    position: absolute;
    left: 10%;
    top: 150px;
    opacity: 0;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  /* line 451, ../sass/style.scss */
  .skill-container .skill-list ul li {
    font-size: 3rem;
    margin-top: 1.5rem;
    font-family: "PT Sans", sans-serif;
  }
  /* line 459, ../sass/style.scss */
  .skill-container .skill-list.visible ul {
    opacity: 1;
    left: 50%;
  }
}

/*****************************

moreAboutMe section

******************************/
/* line 489, ../sass/style.scss */
.info-container {
  width: 90%;
  position: relative;
  margin: 0 auto;
  border: 1px solid transparent;
}
/* line 495, ../sass/style.scss */
.info-container h1 {
  margin: 100px auto 0;
  max-width: 800px;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
}
/* line 508, ../sass/style.scss */
.info-container ul {
  background: white;
  margin: 50px auto;
  max-width: 800px;
  border: 10px solid #CBC7CF;
}
/* line 515, ../sass/style.scss */
.info-container ul li {
  display: inline-block;
  font-size: 3rem;
  padding: 5px;
  margin: 15px 10px 0 0;
  font-family: "PT Sans", sans-serif;
  color: black;
}
/* line 522, ../sass/style.scss */
.info-container ul li a {
  text-decoration: none;
}
/* line 528, ../sass/style.scss */
.info-container #playmMusic {
  color: #ffb9ad;
}
/* line 530, ../sass/style.scss */
.info-container #playmMusic:hover {
  color: tomato;
}
@media only screen and (min-width: 1170px) {
  /* line 536, ../sass/style.scss */
  .info-container ul {
    height: 400px;
    padding: 50px;
  }
  /* line 541, ../sass/style.scss */
  .info-container h1 {
    font-size: 6rem;
  }
}

/*****************************

contactMe section

******************************/
